 {{#each allPosts as |post|}}
<main class="mt-7 flex items-center justify-center">
   
      <section class="flex items-center justify-center ">
        <div class="bg-white rounded shadow-md border-2 border-lime-200 w-96">
          <div
            class="bg-blue-200 p-4 flex items-center justify-between rounded-t w-full"
          >
            <h2 class="text-gray-700">{{blog_title}}</h2>
            <div class="text-sm flex gap-2 text-gray-400">
              <p>{{user.name}}</p>
              <p>{{blog_date}}</p>
            </div>
            
          </div>
          <div class="p-4">
            <p>{{blog_content}}</p>
          </div>
          {{#if logged_in}}
          <div class=" text-sm bg-gray-300 hover:bg-slate-400 w-24 ml-4 rounded p-2 text-center mb-2">
            <button>Comment</button>
          </div>
          {{/if}}
        </div>
      </section>

   

  </section>
</main>
 {{/each}}


