<section class="bg-blue-200">
  <div class="flex items-center justify-center">
    <div class="bg-white rounded shadow-md w-72">
      <h2 class="text-2xl font-bold mb-4">Login</h2>
    </div>

  </div>
</section>