<section class="flex flex-col items-center justify-center">
    <div class="flex my-2 items-center justify-center">
        <div class="bg-white rounded shadow-md border-2 border-lime-200 w-96">

            <form action="" class="blog-form">
            <div
            class="bg-blue-200 p-4 flex items-center justify-between rounded-t w-full"
            >
                <label for="title" class="pr-4 font-bold text-gray-700">Blog Title</label>
            <input 
                class="text-gray-700 rounded"
                type="text"
                placeholder="Enter blog title"
                />
        

        </div>
        <div class="p-4 block">
            <label for="content" class=" font-bold text-gray-700">Blog content</label>
            <textarea name="blog-content" class="bg-gray-100" id="blog-content" cols="40" rows="5"></textarea>
        </div>
        <div class="ml-36">
            <button type="submit" class="bg-green-300 hover:bg-green-400 rounded p-3 ">Add Post</button>
        </div>
    </div>
      </form>
      
  </div>
</section>