<section class="flex flex-col items-center justify-center mt-24">
  <div class="flex my-2 items-center justify-center">
    <div class="bg-white rounded shadow-md border-2 border-lime-200 w-96">

      <form id="postBtn" action="" class="blog-form">
        <div
          class="bg-blue-200 p-4 flex items-center justify-between rounded-t w-full"
        >
          <label for="title" class="pr-4 font-bold text-gray-700">Blog Title</label>
          <input
            id="blog-title"
            class="text-gray-700 rounded"
            type="text"
            placeholder="Enter blog title"
          />
        </div>
        <div class="p-4 block">
          <label for="content" class="font-bold text-gray-700">Blog content</label>
          <span id="error-message" class="text-red-500"></span>
          <textarea
            id="blog-content"
            name="blog-content"
            class="bg-gray-100"
            cols="40"
            rows="5"
          ></textarea>
        </div>
        <div class="ml-36">
          <button
            type="submit"
            class="bg-green-300 hover:bg-green-400 rounded p-3"
          >Add Post</button>
        </div>
      </form>
    </div>
  </div>
</section>

<script src="/js/addPostBtn.js"></script>